<div class="row">

  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">

    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li (click)='onToShopping($event)' style='cursor:pointer'>To Shopping List</li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>

    </div>
  </div>

  <div class="col-xs-6" >
    {{ recipe.description }}
  </div>

</div>
<br>

<div class="row">
  <div class="col-xs-12">
    <ul class='list-group'
      *ngFor='let ing of recipe.ingredients'
    >
      <li class='list-group-item'>
        {{ing.name}} - {{ing.amount}}
      </li>
    
    </ul>
  </div>
</div>

<p>&nbsp;</p><p>&nbsp;</p>